@media only screen and (min-width: 600px) {
nav a {
  font-size: 16px;
}

}

@media only screen and (min-width: 1200px) {
  nav a {
    font-size: 12px;
}
}
@media only screen and (min-width: 1280px) {
  #gallery {
    display: grid;
    grid-template-areas:
    'img1 img2 img3 img4'
    'img5 img6 img7 img8'
  }
}
@media only screen and (min-width: 600px) {
  #attractions img {
    margin: 10px;
  }
#attractions {
  display: grid;
  grid-template-areas:
  'img1 text1'
  'img2 text2'
  'img3 text3'
  'img4 text4'
  'img5 text5'
}
}
@media only screen and (min-width: 600px) {
  #journals {
    display: grid;
    grid-template-areas:
    'Marissa Jamie Spencer Becca Natalie'
  }
  #journals img {
    margin-left: 10px;
  }
}
